<!-- select_preferences.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Preferences</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        nav {
            background-color: #2d3748;
        }

        nav a {
            color: #cbd5e0;
            transition: color 0.3s;
        }

        nav a:hover {
            color: #ffffff;
        }

        #userList li {
            border-bottom: 1px solid #e2e2e2;
        }

        #userList button {
            transition: background-color 0.3s;
        }

        #userList button:hover {
            background-color: #4a4a4a;
        }
    </style>
</head>

<body class="bg-white text-black min-h-screen flex flex-col">

    <!-- Navigation Bar -->
   

    <div class="bg-white p-6 rounded shadow-md mx-auto my-4 container">

        <h1 class="text-3xl font-bold mb-4 p-5">Jai Mata Di Kirana</h1>

        <!-- Search Bar -->
        <div class="mb-6">
            <input type="text" id="searchInput" placeholder="Search by name or email"
                   class="px-4 text-black py-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-300">
        </div>

        <button class="bg-blue-500 text-white px-4 py-2 w-full mb-8 rounded-md hover:bg-blue-600" onclick="location.href='/add_user'">
            Add User
        </button>
        <div class="bg-gray-100 p-4 rounded-md mb-4">
            <p class="text-xl font-semibold text-gray-800">Total Balance:</p>
            <p class="text-2xl font-bold text-green-500" id="totalBalance">{{total_balance}}</p>
        </div>

            <ul id="userList">
                <!-- Users will be dynamically added here -->
            </ul>
           
        </form>
        
    </div>
    <div id="loadingIcon" class="w-42 h-42 text-center mb-4">
        <img src="https://cdn.dribbble.com/users/442445/screenshots/1656257/skoop_shaker_animation_blurred.gif" alt="Loading Icon">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('searchInput');
            const userList = document.getElementById('userList');

            // Fetch all users initially
            searchUsers('');

            // Event listener for search input
            searchInput.addEventListener('input', debounce(function() {
                searchUsers(searchInput.value.toLowerCase());
            }, 300));

            function debounce(func, delay) {
                let timeoutId;
                return function () {
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(() => func.apply(this, arguments), delay);
                };
            }
            function showLoadingIcon() {
                loadingIcon.classList.remove('hidden');
            }

            function hideLoadingIcon() {
                loadingIcon.classList.add('hidden');
            }
            function searchUsers(searchTerm) {
                // Use AJAX to send the search query to the server
                fetch(`/search_users?query=${encodeURIComponent(searchTerm)}`)
                    .then(response => response.json())
                    .then(users => {

                        updateUsers(users)
                        hideLoadingIcon();

                    })
                    .catch(error => {
                        console.error('Error fetching users:', error) ;               
                        hideLoadingIcon();

                    });
            }

            function updateUsers(users) {
                userList.innerHTML = '';

                users.forEach(user => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('mb-4', 'border-b', 'border-gray-300', 'py-4', 'flex', 'items-center', 'justify-between');
                    const balanceColor = user.balance >= 0 ? 'text-green-500' : 'text-red-500';

                    listItem.innerHTML = `
                    <a href="/user/${user._id}">
    <div class="flex justify-between gap-20 w-full">
        <div class="grid grid-rows-2 gap-2 w-full">
            <p class="text-xl font-semibold text-gray-800 capitalize">${user.name}</p>
            <p class="text-xl font-semibold text-gray-800 capitalize">${user.mobile}</p>
            <p class="text-xl font-semibold ${balanceColor} text-gray-800 capitalize">Total Balance : ${user.balance}</p>
        </div>
    </div>
</a>

`;
                    userList.appendChild(listItem);
                });
            }
        });
    </script>

</body>

</html>
